.cart-container {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .cart-item {
    display: flex;
    padding: 15px;
    justify-content: center;
    margin-left: 50px;
 }

 .cart-desc {
   display: flex;
   padding: 10px;
 }

 .cart-producto-detail {
   padding: 15px;
   
 }

 .cart-img {
    max-width: 100%;
    max-height: 100px;
    object-fit: fill;
    cursor: pointer;
}

.cart-finish-box {
   display: flex;
   max-height: 100px;
   justify-content: center;
}

.btn-borrar-unidad {
   position: relative;
   margin-left: -50px;
   margin-bottom: 15px;
   left: 50%;
   width: 80px;
   bottom: 0px;
   padding: 10px;
   margin-top: 10px;
   color: red;
   border: 1px solid red;
   border-radius: 4px;
   transition: all 400ms ease;
}
.btn-borrar-unidad:hover  {
   background: red;
   color: #fff;
   cursor: pointer;
}

.btn-borrar-todo {
   margin-left: 15px;
   width: 100px;
   padding: 10px;
   color: red;
   border: 1px solid red;
   border-radius: 4px;
   transition: all 400ms ease;
}
.btn-borrar-todo:hover  {
   background: red;
   color: #fff;
   cursor: pointer;
}

.btn-finalizar-compra {
      margin-left: 15px;
      width: 200px;
      padding: 10px;
      color: #034574;
      border: 1px solid #034574;
      border-radius: 4px;
      transition: all 400ms ease;
      text-decoration: none;
   }
   .btn-finalizar-compra:hover  {
      background: #034574;
      color: #fff;
      cursor: pointer;
   }

   .total-carrito {
      font-size: 25px;
      color: darkgreen;
   }