.body-confirmado {
    display: flex;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.titulo-respuesta {
    font-size: 38px;
    color: brown;
}

.codigo-respuesta {
    font-size: 24px;
}

.ordenId {
    color: brown;
    text-decoration-line: underline;
}

.link-compra-finalizada {
    text-decoration: none;

}

.link-compra-finalizada {
    float: right;
    margin-right: 5%;
    margin-top: 15px;
    width: 30%;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    width: 200px;
    padding: 10px;
    color: #034574;
    border: 1px solid #034574;
    border-radius: 4px;
    transition: all 400ms ease;
    text-decoration: none;
}

.link-compra-finalizada:hover {
    background: #034574;
    color: #fff;
    cursor: pointer;
}

.detalle-father {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
}
.historial-box {
    display: flex;
    flex-direction: column;
    margin: 5px;

}

.historial-detalle {
    font-size: 24px;
    text-align: start;
}

.span-detalle {
    color: brown;
    font-size: 24px;
}

.historial-items {
    background-color: darkgrey;
}

.div-update-section {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ul-update-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    list-style: none;
    margin: 25px;
}

.photo-update-section {
    height: 350px;
}

.li-update-section {
    margin: 5px;
    
}

.form-update-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label-update-section {
    font-size: 24px;
}

.input-update-section {
    margin: 10px;
    padding: 5px;
    width: 300px;
    background-color: whitesmoke;
    border: none;
    font-size: 18px;
    border-color: brown;
    box-shadow: 10px 5px 5px grey;
}

.input-update-section:focus {
    outline-color: white;
    background-color: brown;
    color: #fff;
}

.submit-update-section {
    padding: 10px;
    margin: 5px;
    color: #034574;
    font-weight: 600;
    font-family: ‘Open Sans’;
    font-size: 24px;
    border: 1px solid #034574;
    border-radius: 5%;
    transition: all 400ms ease;
    text-decoration: none;
}


.submit-update-section:hover {
    background: #034574;
    color: #fff;
    cursor: pointer;
}