.item-detail-container-div {
    width: 100%;
    margin-top: 100px;
}

.divCards {
    display: block;
}

.tittle-width-back-link {
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-link {
    display: flex;
    margin-right: 250px;
    max-width: 150px;
}