
.divCards {
    margin: 15px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.cardsTittle {
    font-size: 2rem;
    text-align: center;
    color: brown;
    background-color: whitesmoke;
}

.boxCards {
    align-items: center;
}

.spinner {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
}