.divCards {
    margin: 15px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.cardsTittle {
    font-size: 2rem;
    text-align: center;
    color: brown;
    background-color: whitesmoke;
}

.boxCards {
    align-items: center;
}

.spinner {
    display: inline-block;
    justify-content: center;
    color: brown;
}