.divCards {
    margin: 5px;
    width: 100%;
    align-items: center;
}

.cardsTittle {
    text-align: center;
    color: brown;
    background-color: whitesmoke;
}

.boxCards {
    align-items: center;
}