.relatedFather {
    display: flex;
    margin-top: 25px;
}

.related {
    display: flex;
    flex-direction: column;
}

.imgRelated {
    width: 25%;
    cursor: pointer;
}

.relatedTitle {
    color: brown;
    background: whitesmoke;
}