.navHeader {
    background-color: whitesmoke;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
<<<<<<< HEAD
=======
    z-index: 100;
>>>>>>> ae661d13fd6d54b99cacdc15390e08e79ac3d4fb
}

.navBar {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-link {
    color: brown;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 4px;
}

.nav-link:hover {
    color: whitesmoke;
    background-color: #034574;
    transition: 0.5s;
}

.logo {
    width: 20%;
}

.ulNav {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}
