* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    transition: 0.5s;
}

footer {
    width: 100%;
    padding: 2rem 8%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-logo {
    height: 80px;
    margin-bottom: 1rem;
}

.social-icons-container, .footer-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.social-media-link {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin: 1rem;
    color: brown;
}

.social-media-linkg:hover {
    background-color: #121212;
    filter: invert(1);
}

.footer-menu-container {
    list-style-type: none;
    color: brown;
    font-size: 18px;
}

.menu-footer-link {
    list-style: none;
    text-decoration: none;
    color: brown;
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}

.menu-footer-link:hover {
    opacity: 1;
}

.copyright {
    color: black;
    opacity: 0.3;
    text-align: center;
}