.btn-card {
  
  padding: 10px;
  margin-top: 10px;
  color: #034574;
  border: 1px solid #034574;
  border-radius: 4px;
  transition: all 400ms ease;
}

.btn-card:hover {
  background: #034574;
  color: #fff;
  cursor: pointer;
}