.container {
   display: grid;
   gap: 1rem;
   grid-auto-rows: 22rem;
   grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
   grid-auto-rows: 1fr;
   grid-auto-flow: dense;
   margin-left: 10%;
   margin-right: 10%;
}