.paper-carousel img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    max-height: 500px; /* Establece una altura máxima para la imagen */
    object-fit: contain; /* Asegura que la imagen se ajuste al contenedor sin recortarse */
}

.CheckButton {
    margin-top: 15px;
    background-color: #034574;
    color: whitesmoke;
    border-radius: 10px;
    padding: 10px 20px;
    text-transform: none;
}

.CheckButton:hover {
    background-color: #01234a;
}