.banner-container {
    width: 100%;
    text-align: center;
}

.bannerImage {
    width: 75%;
<<<<<<< HEAD
=======
}

.spinner {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
>>>>>>> ae661d13fd6d54b99cacdc15390e08e79ac3d4fb
}