.banner-container {
    width: 100%;
    text-align: center;
}

.bannerImage {
    width: 75%;
}

.spinner {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
}